@page
@model test.web.Pages.EditModel
@{
	ViewData["Title"] = "Edit page";
}

@* Note: Many of the "class=" instances reference Bootstrap sytles. *@


@* Begin render Edit code block *@
<form method="post">
    @* 	The id for the data record is hidden because it needs to be available to the 
		code-behind processing, but it's not displayed. *@
	<input hidden asp-for="EmployeeModels.id" />
	<div class="border p-3 mt-4" style="width:50%">
		<div class="row pb-2">
			<h2 class="text-primary pl-3">Edit Employee</h2>
			<hr />
		</div>
		<div class="mb-3">
			<label asp-for="EmployeeModels.username" class="h5"></label><br />
			@* Render the current Username of the employee in an editable text box. *@
			<input type="text" asp-for="EmployeeModels.username" />
			<span asp-validation-for="EmployeeModels.username" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="EmployeeModels.mail" class="h5"></label><br />
			@* Render the current Mail of the employee in an editable text box. *@
			<input type="text" asp-for="EmployeeModels.mail" />
			<span asp-validation-for="EmployeeModels.mail" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="EmployeeModels.phone_no" class="h5"></label><br />
			@* Render the current Phone No of the employee in an editable text box. *@
			<input type="text" asp-for="EmployeeModels.phone_no" />
			<span asp-validation-for="EmployeeModels.phone_no" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="EmployeeModels.skill_set" class="h5"></label><br />
			@* Render the current Skill Set of the employee in an editable text box. *@
			<input type="text" asp-for="EmployeeModels.skill_set" />
			<span asp-validation-for="EmployeeModels.skill_set" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="EmployeeModels.hobby" class="h5"></label><br />
			@* Render the current Hobby of the employee in an editable text box. *@
			<input type="text" asp-for="EmployeeModels.hobby" />
			<span asp-validation-for="EmployeeModels.hobby" class="text-danger"></span>
		</div>
		@* Submit the changes or return to the Index page if the edit is cancelled.*@
		<button type="submit" class="btn btn-primary" style="width:150px;">Update</button>
		<a asp-page="Index" class="btn btn-secondary" style="width:150px;">Cancel</a>
	</div>
</form>
@* End render Edit code block *@
